rzrboy/.vs
rzrboy/emu/obj
rzrboy/rzrboy/obj
rzrboy/emu/bin
rzrboy/rzrboy/bin
*.user
.vs
rzrboy/ModuleWriter/bin
rzrboy/ModuleWriter/obj
rzrboy/PeliPoika/bin
rzrboy/PeliPoika/obj
rzrboy/Deploy/bin
rzrboy/Deploy/obj
rzrboy/Debugger/bin/*
rzrboy/Debugger/obj/*
rzrboy/Interface/bin
rzrboy/Interface/obj
